{% load helpers %}
{% load humanize %}
<div class="col-md-12">
    <div class="card">
        <div class="card-header">
            {% for s in staff %}
                <div>
                    <div class="row align-items-center">
                        <div class="col-auto">
                            <span class="avatar" style="background-image: url('/media/{{ s.photo }}')"></span>
                        </div>
                        <div class="col-4">
                            <div class="card-title">{{ s.fio }}</div>
                            <div class="card-subtitle">{{ s.job }}</div>
                        </div>
                        <div class="col">
                            <span class="badge bg-purple-lt">{{ s.department }}</span>
                        </div>
                        <div class="col">
                            <span class="badge bg-green-lt">{{ s.hour_salary|intcomma }}so'm</span>
                        </div>
                    </div>
                </div>
            {% endfor %}
            <div class="card-actions">
                <div class="dropdown">
                    <a href="#" class="btn-action dropdown-toggle" data-bs-toggle="dropdown" aria-haspopup="true"
                       aria-expanded="false"><!-- Download SVG icon from http://tabler-icons.io/i/dots-vertical -->
                        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-calendar-stats"
                             width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor"
                             fill="none" stroke-linecap="round" stroke-linejoin="round">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                            <path d="M11.795 21h-6.795a2 2 0 0 1 -2 -2v-12a2 2 0 0 1 2 -2h12a2 2 0 0 1 2 2v4"></path>
                            <path d="M18 14v4h4"></path>
                            <path d="M18 18m-4 0a4 4 0 1 0 8 0a4 4 0 1 0 -8 0"></path>
                            <path d="M15 3v4"></path>
                            <path d="M7 3v4"></path>
                            <path d="M3 11h16"></path>
                        </svg>
                    </a>
                    <div class="dropdown-menu dropdown-menu-end">
                        <span class="dropdown-header">Oylar bo'yicha filtr</span>
                        <a class="dropdown-item" href="#">
                            Yanvar
                        </a>
                        <a class="dropdown-item" href="#">
                            Fevral
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-body p-0">
            <div class="col-12">
                <div class="card">
                    <div class="table-responsive">
                        <table
                                class="table table-vcenter card-table table-striped">
                            <thead>
                            <tr>
                                <th>Ishga keldi</th>
                                <th>Ishdan ketdi</th>
                                <th>Ish soati</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for a in attendance %}
                                <tr>
                                    <td class="text-muted">
                                        <span class="badge bg-success me-1">{{ a.enter_at }}</span>
                                    </td>
                                    <td class="text-muted">
                                        <span class="badge bg-danger me-1">{{ a.leave_at }}</span>
                                    </td>
                                    <td>
                                        {{ a.hours|hour }}
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-footer d-flex align-items-lg-end">
            {% for h in total_hours %}
                <p class="m-0 ms-auto me-lg-5">
                  Jami ish soatlari: {{ h.hours__sum|hour }}
                </p>
            {% endfor %}
        </div>
    </div>
</div>

{#<div class="col-12">#}
{#    <div class="card">#}
{#        <div class="table-responsive">#}
{#            <table class="table table-vcenter card-table table-striped">#}
{#                <thead>#}
{#                <tr>#}
{#                    <th>O'qituvchi</th>#}
{#                    <th>Bo'lim</th>#}
{#                    <th>Kasbi</th>#}
{#                    <th>Oylik maosh(1 soat uchun)</th>#}
{#                    <th>Ish soatlari</th>#}
{#                    <th class="w-1"></th>#}
{#                </tr>#}
{#                </thead>#}
{#                <tbody>#}
{#                {% for s in staff %}#}
{#                    <tr>#}
{#                        <td>#}
{#                            <div class="d-flex py-1 align-items-center">#}
{#                                <span class="avatar me-2" style="background-image: url('/media/{{ s.photo }}')"></span>#}
{#                                <div class="flex-fill">#}
{#                                    <div class="font-weight-medium">{{ s.fio }}</div>#}
{#                                </div>#}
{#                            </div>#}
{#                        </td>#}
{#                        <td class="text-muted">#}
{#                            {{ s.department }}#}
{#                        </td>#}
{#                        <td class="text-muted"><a href="#" class="text-reset">{{ s.job }}</a></td>#}
{#                        <td class="text-muted">#}
{#                            {{ s.hour_salary }} so'm#}
{#                        </td>#}
{#                        <td>#}
{#                            <a href="#">Edit</a>#}
{#                        </td>#}
{#                    </tr>#}
{#                {% endfor %}#}
{#                </tbody>#}
{#            </table>#}
{#        </div>#}
{#    </div>#}
{#</div>#}